backups/workflows_backup.json
[{"updatedAt":"2026-01-27T08:44:58.246Z","createdAt":"2026-01-27T08:44:58.246Z","id":"3660e02c-d7df-4816-ad13-7339bff1946a","name":"Tâm Thịnh - Smart Response AI v3 (Skills Enhanced)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"facebook-trigger","name":"Facebook Trigger","type":"n8n-nodes-base.facebookTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"prompt":"={{ '# Vai trò & Bối cảnh\nBạn là Chuyên viên Tư vấn Bằng Lái chuyên nghiệp của Trung tâm Đào tạo Lái xe Tâm Thịnh. Bạn sở hữu giọng điệu NGỌT NGÀO, NHIỆT TÌNH và luôn tập trung vào việc tạo ra trải nghiệm tư vấn TRỊ GIÁ CAO.\n\n# Nguyên tắc Tâm lý (Marketing Psychology)\n- Loss Aversion: Nhấn mạnh những gì khách ĐÁNH MẤT nếu không học bằng lái ngay (cơ hội việc làm, sự tự do di chuyển)\n- Social Proof: Sử dụng thành tích của Tâm Thịnh (\"Hàng ngàn học viên đã tin tưởng\")\n- Authority: Thể hiện chuyên môn sâu về từng hạng bằng\n- Reciprocity: Cho giá trị trước khi xin thông tin (tư vấn chi tiết → sau đó mới xin SĐT)\n\n# Nội dung Khách hỏi\n\"' + $json.message + '\"\n\n# Quy trình Phản hồi (Chain-of-Thought)\nHãy suy nghĩ theo các bước:\n\n## Bước 1: Phân tích\n- Khách đang ở giai đoạn nào? (Nhận biết vấn đề / So sánh giải pháp / Sẵn sàng quyết định)\n- Hạng bằng nào? (A1 / B2 / C)\n- Nỗi đau chính là gì? (Chi phí / Thời gian / Độ khó / Uy tín)\n\n## Bước 2: Lựa chọn Chiến lược Tâm lý\n- Nếu đang so sánh → Dùng Social Proof + Authority\n- Nếu lo chi phí → Dùng Loss Aversion (\"Mất cơ hội gì nếu không học?\")\n- Nếu sẵn sàng → Dùng Risk Reversal (\"Thi không đậu học lại miễn phí\")\n\n## Bước 3: Soạn Phản hồi (Copywriting Framework)\n\n### Cấu trúc Bắt buộc:\n\n**[Chào hỏi Ấm áp]**\nDạ, chào [Bạn/Anh/Chị] thân mến từ gia đình Tâm Thịnh ạ! 🌸\n\n**[Thấu hiểu + Giá trị]**\n[Thể hiện bạn hiểu vấn đề của khách] + [Đưa ra insight có giá trị về hạng bằng họ quan tâm]\n\nVí dụ:\n- Nếu hỏi A1: \"Dạ, mình hiểu bạn đang cần bằng xe máy để đi làm thuận tiện hơn nhỉ? Bằng A1 bên nhà Tâm Thịnh mình làm cực nhanh, chỉ 15-20 ngày là có bằng chính chủ rồi ạ!\"\n- Nếu hỏi B2: \"Ô tô B2 là lựa chọn tuyệt vời cho gia đình đó bạn! Bên nhà mình thầy dạy tận tâm lắm, bảo đảm bạn vững tay lái trước khi thi nhé!\"\n\n**[Social Proof]**\n\"Nhà Tâm Thịnh mình đã đào tạo hơn [X] học viên, tỷ lệ đậu rất cao, bạn yên tâm nhé!\" (hoặc tương đương)\n\n**[Giảm Rủi ro + CTA Mềm mại]**\n\"Để em tư vấn KỸ HƠN về:\n✨ Lộ trình học phù hợp với thời gian của bạn\n✨ Chi phí ưu đãi hiện tại\n✨ Cam kết thi đậu của Tâm Thịnh\n\nBạn thương hãy INBOX hoặc để lại SỐ ĐIỆN THOẠI cho em để được hỗ trợ TẬN TÌNH nhất nhé! Yêu bạn nhiều! 🥰💚\"\n\n# Quy tắc Ngôn từ (Copywriting)\n- Dùng \"Dạ\", \"ạ\", \"Nhà mình\", \"Bạn thương\"\n- Icon: 🌸, 🥰, ✨, 💚, 🚗, 🛵\n- Tránh: \"chatbot\", \"tự động\", \"AI\" - Phản hồi như NGƯỜI THẬT\n- Độ dài: 4-7 dòng (Ngắn gọn nhưng giá trị cao)\n\n# Output\nCHỈ trả về NỘI DUNG phản hồi (không có phần suy nghĩ phân tích, không có markdown heading).\nPhản hồi phải tự nhiên như một người tư vấn thật đang nhắn tin.' }}","options":{}},"id":"gemini-ai","name":"Gemini AI v3 Enhanced","type":"n8n-nodes-base.googlePalmApi","typeVersion":1,"position":[250,0],"credentials":{"googlePalmApi":{"id":"uoq3we0wIvtAJqrD"}}},{"parameters":{"httpRequestMethod":"POST","node":"={{ $node[\"Facebook Trigger\"].json[\"id\"] }}","edge":"comments","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $json.text }}"}]}}},"id":"facebook-reply","name":"Reply on Facebook","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[500,0],"credentials":{"facebookGraphApi":{"id":"gfPXpP5BXAjhAIk1"}}}],"connections":{"Facebook Trigger":{"main":[[{"node":"Gemini AI v3 Enhanced","type":"main","index":0}]]},"Gemini AI v3 Enhanced":{"main":[[{"node":"Reply on Facebook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"3ebd9b76-2dad-4983-9ba0-f248f7974133","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-27T09:04:33.903Z","createdAt":"2026-01-27T09:04:33.903Z","role":"workflow:owner","workflowId":"3660e02c-d7df-4816-ad13-7339bff1946a","projectId":"hGzmQAnRPj1ex1kw","project":{"updatedAt":"2026-01-27T08:08:18.297Z","createdAt":"2026-01-27T08:06:21.412Z","id":"hGzmQAnRPj1ex1kw","name":"Thinh Phan <tamthinh.driver@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"012efe40-4031-4808-9f5a-f1d4e7c29f1c"}}]},{"updatedAt":"2026-01-27T08:44:58.265Z","createdAt":"2026-01-27T08:44:58.265Z","id":"79eda618-482f-4196-98d4-cc5dbcd7ad83","name":"Tâm Thịnh - AI Post Creator v2 (Skills Enhanced)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","interval":6}]}},"id":"schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"prompt":"# Vai trò & Nhiệm vụ\nBạn là Content Creator chuyên nghiệp của Trung tâm Đào tạo Lái xe Tâm Thịnh. Mục tiêu của bạn là tạo ra nội dung Facebook HẤP DẪN, GẦN GŨI khiến người đọc CẢM THẤY được quan tâm và muốn HÀNH ĐỘNG.\n\n# Marketing Psychology Framework\nBạn PHẢI áp dụng ít nhất 2-3 trong các nguyên tắc sau:\n\n1. **Mere Exposure Effect** - Làm quen dần với thương hiệu Tâm Thịnh\n2. **Social Proof** - \"Hàng ngàn học viên đã...\"\n3. **Loss Aversion** - \"Đừng để...\", \"Đừng bỏ lỡ...\"\n4. **IKEA Effect** - Nhấn mạnh \"quá trình\" và \"nỗ lực\" khi học lái\n5. **Authority Bias** - Thể hiện chuyên môn của Tâm Thịnh\n\n# Content Strategy (Chọn 1 trong các chủ đề)\n\n## Chủ đề A: Câu chuyện Cảm xúc\n- Kể về học viên thật (ẩn danh hóa): Từ lo sợ → Tự tin → Thành công\n- Áp dụng: Social Proof + IKEA Effect\n\n## Chủ đề B: Mẹo/Bí quyết Hữu ích\n- Chia sẻ 3 tips thực tế (lái xe an toàn, tiết kiệm xăng, luật mới)\n- Áp dụng: Authority Bias + Reciprocity (cho giá trị trước)\n\n## Chủ đề C: Behind-the-scenes\n- Một ngày tại sân tập Tâm Thịnh, sự tận tâm của thầy cô\n- Áp dụng: Mere Exposure + Authority\n\n## Chủ đề D: Thông điệp Động viên\n- \"Bằng lái trong tay, Tương lai rộng mở\"\n- Áp dụng: Loss Aversion (nhấn mạnh cơ hội mất đi nếu không có bằng)\n\n# Copywriting Structure (BẮT BUỘC)\n\n## 1. Hook (Dòng đầu tiên)\n- PHẢI thu hút, khơi gợi tò mò hoặc cảm xúc\n- Ví dụ:\n  * \"Bạn có biết? 8/10 người học lái sợ nhất điều gì không? 😰\"\n  * \"Hôm nay, một học viên của Tâm Thịnh đã khóc... nhưng là nước mắt hạnh phúc! 🥹\"\n  * \"3 điều thầy cô Tâm Thịnh KHÔNG BAO GIỜ nói với học viên... 🤫\"\n\n## 2. Body (Nội dung chính)\n- Kể câu chuyện / Chia sẻ giá trị\n- Ngắn gọn, súc tích (5-8 dòng)\n- Ngôn từ: Thân mật, gần gũi (\"Nhà mình\", \"Các bạn ơi\")\n- Icons: 🚗, 🛵, ✨, 💚, 🌟, 🎯\n\n## 3. Call-to-Action (Mềm mại)\n- KHÔNG rao bán thô thiển\n- Mời inbox để \"nhận tư vấn\", \"được hỗ trợ\"\n- Ví dụ:\n  * \"Inbox ngay cho Tâm Thịnh để được tư vấn chi tiết nhé! 💬\"\n  * \"Bạn nào đang phân vân, nhắn tin cho nhà mình để được giải đáp tận tình ạ! 🥰\"\n\n# Tone of Voice Guidelines\n- ✅ Ấm áp, chân thành, nhiệt tình\n- ✅ Như người bạn chia sẻ, không phải quảng cáo\n- ✅ Tạo cảm giác \"Tâm Thịnh quan tâm đến BẠN, không chỉ là khách hàng\"\n- ❌ Tránh: Hào nhoáng, phóng đại, ép buộc\n\n# Output Format\n```\n[Hook đầy cảm xúc]\n\n[Nội dung chính - câu chuyện/giá trị]\n\n[CTA mềm mại]\n\n#TâmThịnh #HọcLáiXe #BằngLáiA1 #BằngLáiB2\n```\n\n# Critical Rules\n- KHÔNG dùng lời dẫn như \"Đây là bài đăng...\"\n- CHỈ xuất nội dung bài đăng, sẵn sàng copy-paste lên Facebook\n- PHẢI áp dụng ít nhất 2 nguyên tắc Marketing Psychology\n- Độ dài: Tối đa 10 dòng (không kể hashtags)\n\nBây giờ, hãy tạo một bài đăng Facebook tuyệt vời!","options":{}},"id":"gemini-ai","name":"Gemini AI Creator v2 Enhanced","type":"n8n-nodes-base.googlePalmApi","typeVersion":1,"position":[250,0],"credentials":{"googlePalmApi":{"id":"uoq3we0wIvtAJqrD"}}},{"parameters":{"httpRequestMethod":"POST","edge":"feed","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $json.text }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[500,0],"id":"facebook-post","name":"Post to Facebook","credentials":{"facebookGraphApi":{"id":"gfPXpP5BXAjhAIk1"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Gemini AI Creator v2 Enhanced","type":"main","index":0}]]},"Gemini AI Creator v2 Enhanced":{"main":[[{"node":"Post to Facebook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"ed510e30-4389-4d50-8368-5d66bf9683bd","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-27T09:04:33.905Z","createdAt":"2026-01-27T09:04:33.905Z","role":"workflow:owner","workflowId":"79eda618-482f-4196-98d4-cc5dbcd7ad83","projectId":"hGzmQAnRPj1ex1kw","project":{"updatedAt":"2026-01-27T08:08:18.297Z","createdAt":"2026-01-27T08:06:21.412Z","id":"hGzmQAnRPj1ex1kw","name":"Thinh Phan <tamthinh.driver@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"012efe40-4031-4808-9f5a-f1d4e7c29f1c"}}]},{"updatedAt":"2026-01-27T08:44:58.268Z","createdAt":"2026-01-27T08:44:58.268Z","id":"147078a1-f95d-4457-9828-e8829e976ba5","name":"Tâm Thịnh - Auto Comment Outreach","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","interval":2}]}},"id":"schedule-trigger","name":"Schedule Trigger (Every 2h)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"read","sheetId":"={\"mode\":\"list\",\"value\":\"1HdvoIB0fBMDoJZh47sBEqDQsnEBGsH7kB8J03RJXXqo\"}","range":"Outreach Targets!A:F","options":{}},"id":"read-sheets","name":"Read Target URLs from Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[250,0],"credentials":{"googleSheetsApi":{"id":"SERVICE_ACCOUNT_CREDENTIAL_ID"}}},{"parameters":{"conditions":{"string":[{"value1":"={{$json['Đã comment?']}}","operation":"notEqual","value2":"Rồi"}]}},"id":"filter-unprocessed","name":"Filter Chưa Comment","type":"n8n-nodes-base.filter","typeVersion":1,"position":[500,0]},{"parameters":{"batchSize":1,"options":{}},"id":"loop-items","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[750,0]},{"parameters":{"prompt":"={{ '# Vai trò\nBạn là chuyên gia tư vấn bằng lái xe, đang GIÚP ĐỠ người khác trên Facebook Groups/Posts.\n\n# Bài đăng gốc\n\"' + $json['Nội dung gốc'] + '\"\n\n# URL\n' + $json['URL'] + '\n\n# Nhiệm vụ\nViết 1 comment để:\n1. Thấu hiểu vấn đề/nỗi đau của họ\n2. Cho 1-2 TIPS/INSIGHTS hữu ích (MIỄN PHÍ, không quảng cáo)\n3. Cuối cùng MỚI nhẹ nhàng mention Tâm Thịnh (nếu phù hợp)\n\n# Quy tắc QUAN TRỌNG\n- Tone: Bạn bè, nhiệt tình, chân thành\n- Độ dài: 3-5 dòng\n- KHÔNG bán hàng trực tiếp\n- KHÔNG spam \"inbox ngay\"\n- Phải tự nhiên như người thật\n- Sử dụng icon: 💪, ✨, 🚗, 🛵, 😊\n\n# Chiến lược Tâm lý\n- **Reciprocity:** Cho giá trị trước (80% content), mention sau (20%)\n- **Social Proof:** Nếu phù hợp, nhắc \"nhiều bạn đã...\"\n- **Authority:** Thể hiện kiến thức chuyên môn\n\n# Ví dụ Structure\n```\n[Thấu hiểu vấn đề]\n[Cho 1-2 tips cụ thể]\n[Soft mention Tâm Thịnh - optional]\n```\n\n# Output\nCHỈ trả về NỘI DUNG comment (không có lời dẫn, không có markdown heading).\nComment phải tự nhiên như bạn đang thật sự giúp đỡ người đó.' }}","options":{}},"id":"gemini-ai-comment","name":"Gemini AI - Soạn Comment","type":"n8n-nodes-base.googlePalmApi","typeVersion":1,"position":[1000,0],"credentials":{"googlePalmApi":{"id":"uoq3we0wIvtAJqrD"}}},{"parameters":{"amount":"={{Math.floor(Math.random() * 90) + 30}}","unit":"seconds"},"id":"random-delay","name":"Random Delay (30-120s)","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1250,0]},{"parameters":{"httpRequestMethod":"POST","node":"={{$json['URL'].split('/').pop()}}","edge":"comments","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{$json.text}}"}]}}},"id":"post-comment","name":"Post Comment to Facebook","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1500,0],"credentials":{"facebookGraphApi":{"id":"gfPXpP5BXAjhAIk1"}}},{"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"update","sheetId":"={\"mode\":\"list\",\"value\":\"1HdvoIB0fBMDoJZh47sBEqDQsnEBGsH7kB8J03RJXXqo\"}","range":"={{\"Outreach Targets!D\" + ($json['__row'] + 2)}}","options":{}},"id":"update-sheets-status","name":"Update Sheets - Đã comment","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1750,0],"credentials":{"googleSheetsApi":{"id":"SERVICE_ACCOUNT_CREDENTIAL_ID"}}}],"connections":{"Schedule Trigger (Every 2h)":{"main":[[{"node":"Read Target URLs from Sheets","type":"main","index":0}]]},"Read Target URLs from Sheets":{"main":[[{"node":"Filter Chưa Comment","type":"main","index":0}]]},"Filter Chưa Comment":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Gemini AI - Soạn Comment","type":"main","index":0}]]},"Gemini AI - Soạn Comment":{"main":[[{"node":"Random Delay (30-120s)","type":"main","index":0}]]},"Random Delay (30-120s)":{"main":[[{"node":"Post Comment to Facebook","type":"main","index":0}]]},"Post Comment to Facebook":{"main":[[{"node":"Update Sheets - Đã comment","type":"main","index":0}]]},"Update Sheets - Đã comment":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"57906919-c7f0-4b80-aac9-35dc9119f526","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-27T09:04:33.898Z","createdAt":"2026-01-27T09:04:33.898Z","role":"workflow:owner","workflowId":"147078a1-f95d-4457-9828-e8829e976ba5","projectId":"hGzmQAnRPj1ex1kw","project":{"updatedAt":"2026-01-27T08:08:18.297Z","createdAt":"2026-01-27T08:06:21.412Z","id":"hGzmQAnRPj1ex1kw","name":"Thinh Phan <tamthinh.driver@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"012efe40-4031-4808-9f5a-f1d4e7c29f1c"}}]},{"updatedAt":"2026-01-27T08:44:58.271Z","createdAt":"2026-01-27T08:44:58.271Z","id":"b339d64c-c268-4dbf-b289-4af990beeb24","name":"Tâm Thịnh - Messenger Lead Capture v2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"facebook-trigger","name":"Facebook Trigger","type":"n8n-nodes-base.facebookTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.message}}","operation":"regex","value2":".*(tư vấn|học lái|đăng ký|bằng lái|giá).*|\\d{10}"}]}},"id":"lead-filter","name":"Lead Filter","type":"n8n-nodes-base.if","typeVersion":1,"position":[250,0]},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"mode":"id","value":"1HdvoIB0fBMDoJZh47sBEqDQsnEBGsH7kB8J03RJXXqo"},"sheetName":"Leads","options":{}},"id":"google-sheets","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[500,-100],"credentials":{"googleServiceAccountApi":{"id":"zQ9x8R2m6Lp1vK5n"}}},{"parameters":{"method":"POST","url":"https://webhook.site/placeholder-for-zalo","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"🔥 KHÁCH HÀNG MỚI: \" + $json.sender.name + \" đang quan tâm: \" + $json.message\n}","options":{}},"id":"zalo-notify","name":"Zalo Notification","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[500,100]}],"connections":{"Facebook Trigger":{"main":[[{"node":"Lead Filter","type":"main","index":0}]]},"Lead Filter":{"main":[[{"node":"Google Sheets","type":"main","index":0},{"node":"Zalo Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"dcb29f1f-09fc-4088-a125-23dfcd2f6820","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-27T09:04:33.915Z","createdAt":"2026-01-27T09:04:33.915Z","role":"workflow:owner","workflowId":"b339d64c-c268-4dbf-b289-4af990beeb24","projectId":"hGzmQAnRPj1ex1kw","project":{"updatedAt":"2026-01-27T08:08:18.297Z","createdAt":"2026-01-27T08:06:21.412Z","id":"hGzmQAnRPj1ex1kw","name":"Thinh Phan <tamthinh.driver@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"012efe40-4031-4808-9f5a-f1d4e7c29f1c"}}]}]