ai_post_creator_workflow.json
[
    {
        "name": "Tâm Thịnh - AI Post Creator",
        "nodes": [
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "hours",
                                "interval": 6
                            }
                        ]
                    }
                },
                "id": "schedule-trigger",
                "name": "Schedule Trigger",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1,
                "position": [
                    0,
                    0
                ]
            },
            {
                "parameters": {
                    "prompt": "Bạn là người giữ lửa và lan tỏa niềm cảm hứng của Trung tâm Đào tạo Lái xe Tâm Thịnh.\nNHIỆM VỤ: Soạn một bài đăng Facebook thật tình cảm, ngọt ngào để kết nối với học viên.\n\nPHONG CÁCH VIẾT:\n- Dùng đại từ: \"Nhà mình\", \"Các bạn thương\", \"Học viên thân yêu\".\n- Ngôn từ nhẹ nhàng, tích cực, không mang tính rao bán thô thiển.\n- Kết bài luôn có lời chúc và mời gọi inbox một cách tinh tế.\n\nDANH SÁCH CHỦ ĐỀ NGỌT NGÀO:\n1. Những kỷ niệm đẹp của thầy và trò tại sân tập Tâm Thịnh.\n2. Bí quyết vượt qua nỗi lo sợ khi lần đầu ngồi trên vô lăng.\n3. Một ngày ý nghĩa tại trung tâm: Tận tâm hướng dẫn học viên từng chút một.\n4. Thông điệp yêu thương: \"Bằng lái trong tay, an tâm vạn dặm\".\n\nYÊU CẦU: Không dùng lời dẫn, chỉ viết nội dung bài đăng. Gắn nhiều icon biểu cảm (💖, 🌈, 🛣️).",
                    "options": {}
                },
                "id": "gemini-ai",
                "name": "Gemini AI Creator",
                "type": "n8n-nodes-base.googlePalmApi",
                "typeVersion": 1,
                "position": [
                    250,
                    0
                ],
                "credentials": {
                    "googlePalmApi": {
                        "id": "uoq3we0wIvtAJqrD"
                    }
                }
            },
            {
                "parameters": {
                    "httpRequestMethod": "POST",
                    "edge": "feed",
                    "options": {
                        "queryParameters": {
                            "parameter": [
                                {
                                    "name": "message",
                                    "value": "={{ $json.text }}"
                                }
                            ]
                        }
                    }
                },
                "type": "n8n-nodes-base.facebookGraphApi",
                "typeVersion": 1,
                "position": [
                    500,
                    0
                ],
                "id": "facebook-post",
                "name": "Post to Facebook",
                "credentials": {
                    "facebookGraphApi": {
                        "id": "gfPXpP5BXAjhAIk1"
                    }
                }
            }
        ],
        "connections": {
            "Schedule Trigger": {
                "main": [
                    [
                        {
                            "node": "Gemini AI Creator",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Gemini AI Creator": {
                "main": [
                    [
                        {
                            "node": "Post to Facebook",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "active": true,
        "settings": {
            "executionOrder": "v1"
        },
        "id": "ai-post-creator-id"
    }
]