messenger_lead_workflow.json
[{"updatedAt":"2026-01-19T08:55:23.202Z","createdAt":"2026-01-19T08:55:23.202Z","id":"L28UZXfEbgB6sc1ZwdW-g","name":"Tâm Thịnh - Messenger Lead Capture","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"d6213cc9-f937-4fb0-9172-a22e3ac078d8","name":"Facebook Trigger","type":"n8n-nodes-base.facebookTrigger","typeVersion":1,"position":[-448,112],"webhookId":"dc82b5df-8020-4c72-98aa-11c763460a72"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Facebook Trigger\"].json[\"content\"]}}","operation":"contains","value2":"tư vấn"}]}},"id":"38b86721-e742-40a8-9c21-a0ec6d02c592","name":"Keyword Filter","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,112]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"id":"a25a3cbd-7bc8-480e-88d4-f00a9f8090e3","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[0,0]},{"parameters":{"method":"POST","url":"YOUR_ZALO_API_WEBHOOK_URL","options":{}},"id":"26fedb34-7df4-44ae-93a9-ce96d0640b43","name":"Zalo Notification","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[0,208]}],"connections":{"Facebook Trigger":{"main":[[{"node":"Keyword Filter","type":"main","index":0}]]},"Keyword Filter":{"main":[[{"node":"Google Sheets","type":"main","index":0}],[{"node":"Zalo Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"e41389d2-1328-489e-9d35-59de3f0a0f9d","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-19T08:55:23.622Z","createdAt":"2026-01-19T08:55:23.622Z","role":"workflow:owner","workflowId":"L28UZXfEbgB6sc1ZwdW-g","projectId":"M6unwIQDnJ5Jrlxu","project":{"updatedAt":"2026-01-18T06:02:49.215Z","createdAt":"2026-01-18T05:57:19.876Z","id":"M6unwIQDnJ5Jrlxu","name":"Admin Admin <admin@tamthinh.local>","type":"personal","icon":null,"description":null,"creatorId":"d9d2e4e0-08b2-4fdc-a93c-c0c906da2a77"}}]}]