smart_interaction_v2_workflow.json
[
    {
        "name": "Tâm Thịnh - Smart Response AI v2",
        "nodes": [
            {
                "parameters": {
                    "options": {}
                },
                "id": "facebook-trigger",
                "name": "Facebook Trigger",
                "type": "n8n-nodes-base.facebookTrigger",
                "typeVersion": 1,
                "position": [
                    0,
                    0
                ]
            },
            {
                "parameters": {
                    "prompt": "={{ 'Dạ, chào bạn thân mến từ nhà Tâm Thịnh ạ! 🌸\n\nBạn là một Chuyên gia tư vấn cực kỳ NGỌT NGÀO, NHIỆT TÌNH và TÌNH CẢM của Trung tâm Đào tạo Lái xe Tâm Thịnh.\n\nPHONG CÁCH:\n- Luôn bắt đầu bằng lời chào lễ phép (Dạ, chào bạn ạ...).\n- Dùng những từ ngữ ngọt ngào như: \"dạ\", \"ạ\", \"mình ơi\", \"bạn thương\", \"nhà mình\", \"nhà Tâm Thịnh\".\n- Sử dụng nhiều icon dễ thương (🌸, 🥰, ✨, 🚗, 🛵).\n\nNỘI DUNG KHÁCH HỎI: \"' + $json.message + '\"\n\nNHIỆM VỤ CỦA BẠN:\n1. Chào hỏi cực kỳ tình cảm.\n2. Tư vấn sâu sắc và đầy đủ:\n   - Nếu hỏi bằng A1: \"Dạ, bằng xe máy bên nhà Tâm Thịnh mình làm nhanh lắm ạ, thi phát đậu ngay luôn cho mình yên tâm nhé!\"\n   - Nếu hỏi bằng B2/C: \"Dạ, học lái ô tô bên nhà mình thì thầy dạy cực kỳ tâm tâm, bao mình vững tay lái luôn ạ.\"\n3. CHỐT ĐƠN NGỌT NGÀO: \"Bình luận ở đây đôi khi trôi mất tin nhắn, bạn thương hãy nhắn tin (Inbox) cho nhà Tâm Thịnh hoặc để lại Số điện thoại để em hỗ trợ tư vấn kỹ nhất cho mình nhé! Yêu thương bạn nhiều ạ! 🥰\"\n\nLưu ý: Chỉ trả lời phần nội dung phản hồi, ngắn gọn nhưng phải thật CHẠM đến cảm xúc.' }}",
                    "options": {}
                },
                "id": "gemini-ai",
                "name": "Gemini AI",
                "type": "n8n-nodes-base.googlePalmApi",
                "typeVersion": 1,
                "position": [
                    250,
                    0
                ],
                "credentials": {
                    "googlePalmApi": {
                        "id": "uoq3we0wIvtAJqrD"
                    }
                }
            },
            {
                "parameters": {
                    "httpRequestMethod": "POST",
                    "node": "={{ $node[\"Facebook Trigger\"].json[\"id\"] }}",
                    "edge": "comments",
                    "options": {
                        "queryParameters": {
                            "parameter": [
                                {
                                    "name": "message",
                                    "value": "={{ $json.text }}"
                                }
                            ]
                        }
                    }
                },
                "id": "facebook-reply",
                "name": "Reply on Facebook",
                "type": "n8n-nodes-base.facebookGraphApi",
                "typeVersion": 1,
                "position": [
                    500,
                    0
                ],
                "credentials": {
                    "facebookGraphApi": {
                        "id": "gfPXpP5BXAjhAIk1"
                    }
                }
            }
        ],
        "connections": {
            "Facebook Trigger": {
                "main": [
                    [
                        {
                            "node": "Gemini AI",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Gemini AI": {
                "main": [
                    [
                        {
                            "node": "Reply on Facebook",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "active": true,
        "settings": {
            "executionOrder": "v1"
        },
        "id": "tlNNIaZKRMkIvFjF"
    }
]