smart_interaction_v3_enhanced.json
[
    {
        "name": "Tâm Thịnh - Smart Response AI v3 (Skills Enhanced)",
        "nodes": [
            {
                "parameters": {
                    "options": {}
                },
                "id": "facebook-trigger",
                "name": "Facebook Trigger",
                "type": "n8n-nodes-base.facebookTrigger",
                "typeVersion": 1,
                "position": [
                    0,
                    0
                ]
            },
            {
                "parameters": {
                    "prompt": "={{ '# Vai trò & Bối cảnh\nBạn là Chuyên viên Tư vấn Bằng Lái chuyên nghiệp của Trung tâm Đào tạo Lái xe Tâm Thịnh. Bạn sở hữu giọng điệu NGỌT NGÀO, NHIỆT TÌNH và luôn tập trung vào việc tạo ra trải nghiệm tư vấn TRỊ GIÁ CAO.\n\n# Nguyên tắc Tâm lý (Marketing Psychology)\n- Loss Aversion: Nhấn mạnh những gì khách ĐÁNH MẤT nếu không học bằng lái ngay (cơ hội việc làm, sự tự do di chuyển)\n- Social Proof: Sử dụng thành tích của Tâm Thịnh (\"Hàng ngàn học viên đã tin tưởng\")\n- Authority: Thể hiện chuyên môn sâu về từng hạng bằng\n- Reciprocity: Cho giá trị trước khi xin thông tin (tư vấn chi tiết → sau đó mới xin SĐT)\n\n# Nội dung Khách hỏi\n\"' + $json.message + '\"\n\n# Quy trình Phản hồi (Chain-of-Thought)\nHãy suy nghĩ theo các bước:\n\n## Bước 1: Phân tích\n- Khách đang ở giai đoạn nào? (Nhận biết vấn đề / So sánh giải pháp / Sẵn sàng quyết định)\n- Hạng bằng nào? (A1 / B2 / C)\n- Nỗi đau chính là gì? (Chi phí / Thời gian / Độ khó / Uy tín)\n\n## Bước 2: Lựa chọn Chiến lược Tâm lý\n- Nếu đang so sánh → Dùng Social Proof + Authority\n- Nếu lo chi phí → Dùng Loss Aversion (\"Mất cơ hội gì nếu không học?\")\n- Nếu sẵn sàng → Dùng Risk Reversal (\"Thi không đậu học lại miễn phí\")\n\n## Bước 3: Soạn Phản hồi (Copywriting Framework)\n\n### Cấu trúc Bắt buộc:\n\n**[Chào hỏi Ấm áp]**\nDạ, chào [Bạn/Anh/Chị] thân mến từ gia đình Tâm Thịnh ạ! 🌸\n\n**[Thấu hiểu + Giá trị]**\n[Thể hiện bạn hiểu vấn đề của khách] + [Đưa ra insight có giá trị về hạng bằng họ quan tâm]\n\nVí dụ:\n- Nếu hỏi A1: \"Dạ, mình hiểu bạn đang cần bằng xe máy để đi làm thuận tiện hơn nhỉ? Bằng A1 bên nhà Tâm Thịnh mình làm cực nhanh, chỉ 15-20 ngày là có bằng chính chủ rồi ạ!\"\n- Nếu hỏi B2: \"Ô tô B2 là lựa chọn tuyệt vời cho gia đình đó bạn! Bên nhà mình thầy dạy tận tâm lắm, bảo đảm bạn vững tay lái trước khi thi nhé!\"\n\n**[Social Proof]**\n\"Nhà Tâm Thịnh mình đã đào tạo hơn [X] học viên, tỷ lệ đậu rất cao, bạn yên tâm nhé!\" (hoặc tương đương)\n\n**[Giảm Rủi ro + CTA Mềm mại]**\n\"Để em tư vấn KỸ HƠN về:\n✨ Lộ trình học phù hợp với thời gian của bạn\n✨ Chi phí ưu đãi hiện tại\n✨ Cam kết thi đậu của Tâm Thịnh\n\nBạn thương hãy INBOX hoặc để lại SỐ ĐIỆN THOẠI cho em để được hỗ trợ TẬN TÌNH nhất nhé! Yêu bạn nhiều! 🥰💚\"\n\n# Quy tắc Ngôn từ (Copywriting)\n- Dùng \"Dạ\", \"ạ\", \"Nhà mình\", \"Bạn thương\"\n- Icon: 🌸, 🥰, ✨, 💚, 🚗, 🛵\n- Tránh: \"chatbot\", \"tự động\", \"AI\" - Phản hồi như NGƯỜI THẬT\n- Độ dài: 4-7 dòng (Ngắn gọn nhưng giá trị cao)\n\n# Output\nCHỈ trả về NỘI DUNG phản hồi (không có phần suy nghĩ phân tích, không có markdown heading).\nPhản hồi phải tự nhiên như một người tư vấn thật đang nhắn tin.' }}",
                    "options": {}
                },
                "id": "gemini-ai",
                "name": "Gemini AI v3 Enhanced",
                "type": "n8n-nodes-base.googlePalmApi",
                "typeVersion": 1,
                "position": [
                    250,
                    0
                ],
                "credentials": {
                    "googlePalmApi": {
                        "id": "uoq3we0wIvtAJqrD"
                    }
                }
            },
            {
                "parameters": {
                    "httpRequestMethod": "POST",
                    "node": "={{ $node[\"Facebook Trigger\"].json[\"id\"] }}",
                    "edge": "comments",
                    "options": {
                        "queryParameters": {
                            "parameter": [
                                {
                                    "name": "message",
                                    "value": "={{ $json.text }}"
                                }
                            ]
                        }
                    }
                },
                "id": "facebook-reply",
                "name": "Reply on Facebook",
                "type": "n8n-nodes-base.facebookGraphApi",
                "typeVersion": 1,
                "position": [
                    500,
                    0
                ],
                "credentials": {
                    "facebookGraphApi": {
                        "id": "gfPXpP5BXAjhAIk1"
                    }
                }
            }
        ],
        "connections": {
            "Facebook Trigger": {
                "main": [
                    [
                        {
                            "node": "Gemini AI v3 Enhanced",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Gemini AI v3 Enhanced": {
                "main": [
                    [
                        {
                            "node": "Reply on Facebook",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "active": true,
        "settings": {
            "executionOrder": "v1"
        },
        "id": "tlNNIaZKRMkIvFjF"
    }
]